<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NinjaSuite">
  <test thread-count="5" name="NinjaTest">
    <classes>
      <class name="testcases.ForgotPasswordTest"/>
      <class name="testcases.RegisterTest"/>
      <class name="testcases.LoginTest"/>
    </classes>
  </test> <!-- NinjaTest -->
</suite> <!-- NinjaSuite -->
